<h1><strong><%= @trip.name %></strong></h1>
  
<%= link_to "Add Expense", new_trip_expense_path(@trip) %>
<p><%= render @trip.expenses %></p>
 

</br>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Delete', trip_path(@trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>


<p><%= link_to 'All trips', trips_path %></p>
