<h1><strong><%= @trip.name %></strong></h1>
  
<%#= link_to "Add Expense", new_trip_expense_path(@trip) %>
<%#= render @trip.expenses %>

<p> Number of Attendees: <%= @trip.number %></p>

<p> Who's coming? </p>

	<%= render @trip.attendees %>
 	

<p> Add Another Attendee </p>
		
	<%= render 'attendees/form'%>


<br><br><br><br>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Delete', trip_path(@trip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>


<p><%= link_to 'All trips', welcome_index_path %></p>

<p><%= link_to 'Start', trip_expenses_path(@trip) %></p>