<p>Add New Attendee</p>
<%=simple_form_for @attendee do |f|%>
	<%= f.input :name, label: 'name (abbrev) of attendee'%>
	<%= f.input :name, label: 'name (abbrev) of attendee'%>
	<%= f.input :name, label: 'name (abbrev) of attendee'%>
	<%= f.input :name, label: 'name (abbrev) of attendee'%>
	
<% end %>