<h1>Expenses</h1>
<table id="expenses" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Payer</th>
      <th>Description</th>
       <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.date %></td>
        <td><%= expense.attendee.name if expense.attendee %></td>
        <td><%= expense.description %></td>
        <td><%= expense.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add new expense', new_trip_expense_path(@trip) %>


<h2>Summary</h2>
<p>Total expense: <%= @trip.expenses.sum(:amount) %></p>
</br>
    <% @expenses.each do |expense| %>
            <td><%= expense.attendee.name %></td> 
            <td><%= expense.amount - (@trip.expenses.sum(:amount)/@trip.number) %></td>
            </br>
    <% end %>



  